@{
    ViewBag.Title = "About";
}
    <h2>@ViewBag.Title Ahmed El-Mansy</h2>
    <h3>.Net Developer</h3>

<p>
    Junior .NET Developer having over 1 years of
    extensive experience in complete software
    development life cycle involving Requirements
    Gathering, Analysis, Design, Development,
    Testing, Packaging, Deploying and Supporting of
    Web Applications on Microsoft platform.
</p>
