@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me</h2>

<address>
    Cairo<br />
    Egypt<br />
    <abbr title="Phone">Mobile:</abbr>
    +201154847206<br />
    <abbr title="Phone">Mobile:</abbr>
    +201203270002
</address>

<address>
    <strong>Email Me:</strong>   <a href="mailto:ahmed.a.elmansy@gmail.com">Ahmed.a.elmansy@gmail.comm</a>
</address>