@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MTS-Solution Task Submission</h1>
    <p>
        This Task was developed using:<br />

        Asp.net WebApp MVC Template.<br />
        EntityFramework Database First.<br />
        Crystal Report.<br />
        SQL Server Database.<br />
    </p>
</div>

